@import './variables.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background: $backgroundColor;
  font-weight: 400;
  line-height: 1;
  color: $textColor;
  margin: 0;
  padding: 0;
  font-family: Kanit, sans-serif;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-x: hidden;
}

button {
  font-family: Kanit, sans-serif;
}

p {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: $letterSpacing;
}

h1 {
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

a {
  color: $primary-600;
}

input {
  caret-color: $primary-600;
  &::placeholder,
  &[type='email'],
  &[type='password'],
  &[type='submit'],
  &[type='button'] {
    letter-spacing: $letterSpacing;
    font-weight: 300;
  }
  &[type='email'],
  &[type='password'] {
    width: 100%;
    box-shadow: 0 0 0 1px $grey-200;
    border-radius: $borderRadius;
    padding: 0.75rem 0.75rem;
    color: $grey-600;
  }
  &[type='submit'] {
    letter-spacing: 0.25rem;
    text-transform: uppercase;
  }
  &:focus {
    box-shadow: 0 0 0 2px $primary-500;
    outline: none;
  }
}

img {
  -webkit-backface-visibility: hidden;
  -ms-transform: translateZ(0); /* IE 9 */
  -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
  transform: translateZ(0);
}

.hide-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.form-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  &.text-area {
    align-items: flex-start;

    textarea {
      width: 100%;
      height: 10rem;
      outline: none;
      background: transparent;
      z-index: 1;
      box-shadow: 0 0 0 1px $grey-200;
      border-radius: $borderRadius;
      padding: 0.5rem;
      resize: none;

      &:focus,
      &:valid {
        box-shadow: 0 0 0 1px $primary-500;
        + label {
          margin: 0;
          color: $primary-500;
          transform: translate(0, -0.75rem) scale(0.88);
          z-index: 2;
        }
      }
    }

    label {
      margin: 0.5rem 0;
    }
  }
  input {
    box-shadow: 0 0 0 1px $grey-200;
    border-radius: $borderRadius;
    padding: 0.5rem 0.5rem;
    width: 100%;
    z-index: 1;
    background: transparent;

    &:focus,
    &:valid {
      box-shadow: 0 0 0 1px $primary-500;
      + label {
        color: $primary-500;
        transform: translate(0, -1.4rem) scale(0.88);
        z-index: 2;
      }
    }
  }

  label {
    background: $white;
    color: $grey-500;
    text-transform: capitalize;
    padding: 0 0.3rem;
    font-size: 0.85rem;
    font-weight: 300;
    left: 0;
    position: absolute;
    display: inline-block;
    transition: $transition;
  }
}

.form-dropdown {
  position: relative;
  display: flex;
  width: 100%;
  cursor: pointer;
  span {
    text-transform: capitalize;
    width: 100%;
    padding: 0.9rem 0.3rem;

    font-size: 0.85rem;
    font-weight: 300;
    box-shadow: 0 0 0 1px $grey-200;
    border-radius: $borderRadius;
    color: $grey-500;
  }
  .dropdown__icon {
    position: absolute;
    right: 0;
    margin: 0.8rem;
    color: $grey-500;
    transition: $transition;
    z-index: 3;
  }

  &.--disable {
    cursor: default;
    span {
      color: $grey-300;
    }
    .dropdown__icon {
      color: $grey-300;
    }
  }
}

.form-image {
  border-radius: $borderRadius;
  position: relative;
  width: 100%;
  color: $grey-400;
  display: flex;
  & &__drop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    width: 100%;
    border: 1px dashed $grey-400;
    border-radius: $borderRadius;
    padding: 5rem;
    // background: $grey-50;
    cursor: pointer;
    .drop-image__icon {
      scale: 2;
      color: $grey-300;
    }
    span {
      text-align: center;
      font-weight: 200;
    }
  }
  input {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

.input-icon {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  .icon {
    position: absolute;
    font-size: 1.15rem;
    margin-left: 0.75rem;
    color: $grey-400;
    &.--active {
      color: $primary-500;
    }
  }
  input {
    padding-left: 2.35rem;
  }
}

::selection {
  color: $primary-600;
  background: $primary-100;
}

/* ----- Main Content ----- */
.main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0.75rem;
  overflow-x: visible;
  max-width: 32rem;
  // border: 1px solid;
}
@media screen and (min-width: $desktop) {
  .main {
    max-width: 72rem;
  }
}

@media screen and (max-width: $desktop) {
  .main {
    max-width: 62rem;
  }
}

@media screen and (max-width: $tablet-horizontal) {
  .main {
    max-width: 42rem;
  }
}

@media screen and (max-width: $tablet-vertical) {
  .main {
    max-width: 36rem;
  }
}

.button-long {
  background: $primary-600;
  width: 100%;
  height: 3rem;
  border-radius: $borderRadius;
  color: $white;
  cursor: pointer;

  &:hover {
    background: $primary-500;
    box-shadow: $shadow-3;
  }
}

.select-none {
  user-select: none;
}

@keyframes blurInAnimate {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blurInAnimate {
  animation: blurInAnimate 3s alternate;
}
